{% extends 'base.html' %}
{% load static %}

{% block title  %}
    Rotas
{% endblock %}

{% block main %}

    <div class="row" id="menu_opcoes" style="z-index: 2">
        <div class="col"> <br><br>

            <!-- Menu -->
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/cadastro_rota/">Cadastrar Rota</a>
                </li><br>
                <li class="nav-item">
                    <a class="nav-link" href="/listagem_rotas/">Listar Rotas</a>
                </li><br>
                 <li class="nav-item">
                    <a class="nav-link" href="/listagem_droneports/">Ver Droneports</a>
                </li><br>
                <li class="nav-item">
                    <a class="nav-link" href="/informacoes/">Informações</a>
                </li><br>
            </ul>
        </div>
    </div>

    <img src="{% static 'img/mapa_fundo.jpg' %}" class="fundo_rota">

    <button type="button" class="btn btn-danger" id="btn-voltar" onclick="location.href='/'">Voltar</button>
{% endblock %}