{% extends 'base.html' %}
{% load static %}

{% block title  %}
    Entregas
{% endblock %}

{% block main %}

    <div class="row" id="menu_opcoes">
            <div class="col"> <br><br>

                <!-- Menu -->
                <ul class="nav flex-column">
                     <li class="nav-item">
                        <a class="nav-link" href="/cadastro_carga/">Cadastrar Carga</a>
                    </li><br>
                    <li class="nav-item">
                        <a class="nav-link" href="/listagem_cargas/">Listar Cargas</a>
                    </li><br>
                    <li class="nav-item">
                        <a class="nav-link" href="/cadastro_viagem/">Agendar Entrega</a>
                    </li><br>
                    <li class="nav-item">
                        <a class="nav-link" href="/listagem_viagens/">Listar Entregas</a>
                    </li><br>
                </ul>
            </div>
        </div>

    <img src="{% static 'img/icon_caixas.png' %}" id="menu_caixas">

    <button type="button" class="btn btn-danger" id="btn-voltar" onclick="location.href='/'">Voltar</button>
{% endblock %}
